.ErrorMsg {
    margin: 0 auto;
    margin-top: 180px;
    color: red;
    text-align: center;
    font-weight: 600;
}

.CompanyWrapper {
    width: 40%;
    box-shadow: 0px 0px 20px #0000004a;
    padding: 50px;
    padding-bottom: 5px;
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    margin-bottom: 100px;
    border-radius: 10px;
}

.EntrySubmitBtnCompany {
    background-color: #0672fe !important;
}

.EntryField input {
    border-bottom: 1px solid #90caf9 !important;
}

.ErrorMsgOffset {
    margin-top: 170px !important;
}

.ErrorMsg{
    margin-top: 85px;
}

.FileUpload {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    margin-top: 100px;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    overflow: hidden;
}

.UploadBtn {
    width: 200px;
    float: left;
    height: 38px;
    text-align: center;
    background-color: #0473fe !important;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    vertical-align: middle;
    padding-top: 15px;
    /*margin-top: 40%;*/
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    /*margin-left: 12%;*/
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.FileUpload p {
    position: absolute;
    font-size: 18px;
    color: white;
    margin-left: 32px;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
}

.UploadPreview {
    width: 50%;
    /* float: right; */
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px #0000002b;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 160px;
}

.UploadPreview img {
    width: 100%;
}

.Logoimgcenter {
    max-width: 32% !important;
    margin: 0 auto;
    width: auto !important;
    position: absolute;
    max-height: 10%;
    top: 43.5%;
    transform: translate(50%, -50%);
    right: 50%;
}

.Logoimgcorner {
    max-width: 32% !important;
    margin: 0 auto;
    width: auto !important;
    position: absolute;
    max-height: 10%;
    top: 2.5%;
    right: 3.9%;
    float: left;
}

.previewText {
    margin: auto !important;
    position: relative !important;
    color: black !important;
    font-size: 20px !important;
    width: fit-content !important;
    margin-top: 20px !important;
    display: none;
}

.CheckboxWrapper3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.CheckboxWrapper4 {
    margin-bottom: 100px;
    float: left;
}

.EntrySubmitBtnDeactivated {
    background-color: lightgrey !important;
    color: grey !important;
}

.SmallField {
    height: fit-content;
    overflow: hidden;
    margin-bottom: 80px;
}

.SmallField p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #555;
}

.SmallField input {
    background-color: #eee;
    border: none;
    border-bottom: 1px solid orange;
    width: calc(20% - 20px);
    margin: 0 auto;
    height: 25px;
    padding: 10px;
    font-size: 20px;
    margin-top: 5px;
}

.SelectionBoxes {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.SelectionBox {
    height: 110px;
    width: calc(100% - 40px);
    border-radius: 20px;
    box-shadow: 1px 1px 5px #00000045;
    padding: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    z-index: 100;
    cursor: pointer;
    transition-duration: 0.15s;
}

.SelectionBox:hover {
    margin-top: 5px;
}

.BoxSelected {
    background-color: #0274fe !important;
    color: white;
}

.SelectionBox img {
    height: 50%;
    position: absolute;
    top: 25%;
    right: 6%;
    display: block;
}

.SelectionBox h2 {
    width: 100%;
    margin-top: 0px;
    font-weight: 300;
    margin-bottom: 5px;
    float: left;
    width: fit-content;
}

.SelectionBox h1 {
    margin-top: 0px;
    line-height: 25px;
    font-size: 20px;
    max-width: 60%;
}

.SelectionBox > p {
    position: absolute;
    bottom: 5px;
    left: 80px;
    color: grey;
}

.tableCountField {
}

.tableCountField input {
    width: calc(100% - 26px);
    border: none;
    background-color: #e4e4e4;
    border-radius: 10px;
    padding: 13px;
    font-size: 18px;
    font-weight: 600;
}

.tableCountField p {
    margin-bottom: 7px;
    font-weight: 600;
}

.tableCountField span {
    font-weight: 300;
    font-size: 20px;
    color: grey;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

.acquisitionQuery {
    border-radius: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.acquisitionList {
    position: absolute;
    display: none;
    width: 100%;
    box-shadow: 0px 0px 0px solid black;
    border-radius: 10px;
    background-color: white;
    width: 80px;
    height: 30px;
}

.dropdownMenuBtn {
    width: 150px;
    padding: 17px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 3px 3px 8px #00000038;
    cursor: pointer;
    margin-bottom: 5px;
}

.dropdownList {
    width: 100%;
}

.dropdownList ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.dropdownList ul li {
    width: calc(100% - 40px);
    padding: 20px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 2px 2px 7px #00000030;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.priceitem {
    position: absolute;
    right: 50px;
}

.backbtn {
    font-size: 18px;
    margin: 0 auto;
    width: fit-content;
    display: block;
    text-decoration: underline;
    color: #0971fe;
    margin-top: -30px;
    margin-bottom: 50px;
    cursor: pointer;
}

.InlineBadge {
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    float: left;
    margin-left: 20px;
    margin-top: -4px;
    box-shadow: 2px 2px 4px #00000033;
}

.SelectionBoxHeader {
    width: 100%;
    height: 45px;
}

@media (max-width: 800px) {
    .UploadPreview {
        width: 100%;
    }

    .CompanyWrapper {
        width: calc(100% - 30px);
        padding: 15px;
        padding-bottom: 5px;
        padding-top: 20px;
        border-radius: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        box-shadow: none;
    }

    .h1Head {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: -18px;
        color: #0672fe;
    }

    .CompanyWrapper h2 {
        margin-bottom: 30px;
    }

    .EntrySubmit {
        background-color: #fff;
    }

    .priceitem {
        width: 100px;
        text-align: right;
    }
}